.banner {
  overflow: hidden;
  position: relative;
  text-align: left;
  max-height: 500px;
}

.banner-content {
  display: block;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 45em;
  padding: 0 1.5em;
}

.banner-text {
  background-color: rgba(255, 255, 255, .65);
  border-radius: 8px;
  padding: .5em;
  text-align: center;
}

.pink {
  background-color: rgb(227, 171, 171);
}

.gray {
  background-color: #616369;
}

.contact ul {
  color: #e3abab;
}

.copyright {
  color: #fff;
}

.crown {
  background-image: url("../images/crown.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center center;
}

.unica {
  font-family: "Unica One", cursive;
}

.lato {
  font-family: Lato, sans-serif;
}

.navigation {
  text-decoration: none;
  background-color: #b0b0b0;
}

.navigation a:hover {
  background-color: #6474ff;
  transform: translateY(-4px);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
  border: solid;
  border-width: thin;
  border-color: #2e2e2e;
}

.hero-content {
  background-color: rgba(220, 220, 220, .5);
  color: #fff;
}

.action {
  margin: auto;
}

.social:hover {
  color: #6474ff;
}

.signup h1 {
  color: #000;
}

.create:hover,
.create:focus {
  background-color: #00ff48;
  border-color: #00ff48;
  color: #e3abab;
  transform: translateY(-4px);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

fieldset {
  border: none;
}

a:visited {
  color: #000;
}

.action-btn a {
  color: #fff;
  background-color: #616369;
  border-color: #616369;
}

.action-btn a:hover {
  background-color: #6474ff;
  border-color: #6474ff;
  transform: translateY(-4px);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

.nav a:focus {
  outline: 3px solid #000;
}

#nav:focus,
#main:focus,
#form:focus,
#prices:focus {
  outline: 6px solid #ff69b4;
}

.standard {
  border-color: #6474ff;
  border-width: medium;
  border-style: solid;
  background-color: #fff;
}

.standard-fill {
  background-color: #6474ff;
}

.dollar {
  color: #e3abab;
}

.cost {
  color: #fff;
}

.pro {
  border-color: #00ff48;
  border-width: medium;
  border-style: solid;
  background-color: #fff;
}

.pro-fill {
  background-color: #00ff48;
}

@media only screen and (min-width: 25em) {

  .nav {
    width: 100%;
    display: block;
    top: 0%;
  }

  .nav li {
    display: inline-block;
    width: 25%;
  }

  .nav a {
    display: inline-block;
    width: 100%;
  }

  .nav-check,
  .nav-label {
    display: none;
  }

}
