.pink {
  background-color: rgba(227, 171, 171);
  opacity:
}

.gray {
  background-color: #616369;

}

.contact ul {
  color: #e3abab;
}

.copyright {
  color: #ffffff;
}

.crown {
  background-image: url(../images/crown.png);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center center;

}

.unica {
  font-family: 'Unica One', cursive;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.navigation {
  text-decoration: none;
}

.hero-content {
  background-color: rgba(220, 220, 220, 0.5);
  color: #ffffff;
}

.action{
  margin: auto;
}


.social:hover {
  color: #6474FF;
}

.signup h1{
  color: #ffffff;
}

fieldset {
  text-decoration: none;
}

a:visited {
  color: #000000;
}
